* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.app {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.071);
}

::-webkit-scrollbar {
  display: none;
}